{% if site.owner.avatar contains 'http' %}
	<img src="{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }}">
{% else %}
	<img src="{{ site.url }}/images/{{ site.owner.avatar }}" class="bio-photo" alt="{{ site.owner.name }}">
{% endif %}
<h3><a href="{{ site.url }}/">{{ site.owner.name }}</a></h3>
<p>{{ site.owner.bio }}</p>
{% if site.owner.email %}<a href="mailto:{{ site.owner.email }}" class="author-social"><i class="fa fa-envelope-o"></i> Email</a>{% endif %}
{% if site.owner.google_scholar %}<a href="https://scholar.google.com/citations?user={{ site.owner.google_scholar }}&hl=en" class="author-social" target="_blank" rel="noopener"><i class="ai ai-google-scholar"></i> Google Scholar</a>{% endif %}
{% if site.owner.github %}<a href="https://github.com/{{ site.owner.github }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-github"></i> GitHub</a>{% endif %}
{% if site.owner.linkedin %}<a href="https://linkedin.com/in/{{ site.owner.linkedin }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-linkedin"></i> LinkedIn</a>{% endif %}
{% if site.owner.twitter %}<a href="https://twitter.com/{{ site.owner.twitter }}" class="author-social" target="_blank" rel="noopener"><i class="fa fa-twitter"></i> Twitter</a>{% endif %}
<a href="{{ site.url }}/cv/" class="author-social"><i class="fa fa-file-text-o"></i> CV</a>
